<div class="home">
  <div class="home_login">
    <form class="home_form">
      <div class="form-group m_10">
        <label for="exampleInputEmail1">Nome</label>
        <input
          type="name"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby=""
          placeholder="Nome"
        />
        </div>
        <div class="form-group m_10">
          <label for="exampleInputEmail1">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="E-mail"
          />
      </div>
      <div class="form-group m_10">
        <label for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Senha"
        />
        </div>
        <div class="form-group m_10">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Confirme a senha"
          />
      </div>
      <div class="form-group form-check m_10">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Ao clicar em Cadastre-se, você concorda com nossos Termos, Política de Dados e Política de Cookies. Você poderá receber notificações por SMS e cancelar isso quando quiser.</label
        >
      </div>
      <div class="form-group login_buttons">
        <div class="login_button">
          <button type="submit" class="btn btn-success" (click)="telaLogin()">Cadastre-se</button>
        </div>
      </div>
    </form>
  </div>
</div>
