<div class="home">
  <div class="home_login">
    <form class="home_form">
      <div class="form-group m_10">
        <label for="exampleInputEmail1">Login</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group m_10">
        <label for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Senha"
        />
      </div>
      <div class="form-group form-check m_10">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Entrada automatica</label
        >
      </div>
      <div class="form-group login_buttons">
        <div class="login_button">
          <button type="submit" class="btn btn-success">Entrar</button>
        </div>
        <div class="login_button">
          <button type="submit" class="btn btn-secondary">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
